<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f49ccec731.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  </head>

<body class="main">
  <div class="container">
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
      <a class="navbar-brand nav-link" href="{{url_for('hello')}}">NotAnotherPage</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto" id="mainNav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('go_about')}}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('go_words')}}">Links</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('go_pictures')}}">Pictures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('go_photo_dump')}}">Point+Shoot</a>
          </li>
       </ul>
      </div>
    </nav>
  </div>



<div class="content">
  {% block content %}

  {% endblock %}
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/clean-blog.min.js')}}"></script>
</body>


<footer class="bg-white text-center text-black">
  <!-- Grid container -->
  <div class="container p-4">
      <div class="col-lg-12">
        <section class="mb-4">

      <!-- Instagram -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.instagram.com/samphotos23/" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://www.linkedin.com/in/sam-hodgson-a3680120a" role="button"><i class="fab fa-linkedin-in"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/3sam3" role="button"><i class="fab fa-github"></i></a>

      <!-- Medium -->
      <a class="btn btn-outline-dark btn-floating m-1" href="https://medium.com/@sam-hodgson" role="button"><i class="fab fa-medium"></i></a>
        </section>
      </div>
    </div>
  </div>





</footer>
</html>
