{% extends 'base.html' %}
{% block title%} Home {% endblock %}

{% block content %}
    <div class="container-fluid row">
      <div class="col-md-8 offset-md-2 home-text">
        <p>
        Some things I have written and some photos I have taken. Sometimes combined, mostly separate. Writing about things I have learnt about charity and what the story of the river lea says about London. If that sounds far too odd for you then just enjoy the pictures.
        </p>
      </div>

    </div>

{% endblock %}