{% extends 'base.html' %}
{% block title %} Point + Shoot {% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2 home-text">
    </div>
    <div class="container-fluid picture-house">
        <div>
             <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/d912da19002e409b93a0487cbd6884e0/assets/8c53e89a7bed45a7a855d3058b95736d/revisions/f5cc052d6f3c42ecabad5231ea01d1f7/renditions/89f173fbbc0973c668fed786c2e662c9" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/88bac2181053424e9bc4d8975c453d93/assets/a54727fb76fc49719dbc59dc319723fd/revisions/f2e5ad117a934577b2e31d10089d69f5/renditions/df4f9f7ca62d10e1cdcbe2c9028fc38f" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/0d61762498494f2f838fd2f017b48c21/assets/12ba1125a6b945718ab8ce525aed553e/revisions/f0d36ab97d19469eabaec034604478e7/renditions/4ea6450c24f5fa6ecc1be446369bb9af" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/b8e468876a394c60a6d9e6ed3fee60d8/assets/bedf49b1e1d848b3a8b1e01474e6d1ed/revisions/7733d56d724440ca8d05603c2f35dd9e/renditions/b53ce81a8737b44b010f60ec0dbb67e0" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/2da1bf07bfb84ffab1bc0af830886bfa/assets/e8d2c5ab194d4e05a02d81fc5faa545c/revisions/eaf11cbf8c5840bfa8a9f6c71f7a7d20/renditions/5fa8b96611f488b1d972a7aa1cd2b481" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/a6d84ce1fc814e14840e889726269689/assets/0d0e0acf61a747b4b01c6cf0c0b7029c/revisions/c62e00c1700b4ea8885f55251db4228c/renditions/9a8db42c4165b3fb6e1379cb8af34cb2" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/d9e6168e70784e93934b06d99c3c9fe9/assets/4398ccefa915449caf214f7e63fc3f92/revisions/0913b2b2133f488e9663cfa879a4c687/renditions/54a66a4d2b14ac85983b09990d01a5b1" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/26b74a2b00e44011abd4155f6c038f0c/assets/149892ad3ed349cbb71c27b546b439ba/revisions/ece24267cac749dd923a2e93e23b9f8f/renditions/b2a6af826667e085aadddb46115fea81" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/bc4a7efb4aff4b13aa4d6b9d98655b16/assets/d687dad446c24d4e8d9abee801fa6a9a/revisions/c623c8fedae84c8186d48a6119a1135c/renditions/deba0080e8623d62e277a22974edc90b" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/a6921343563c456db8e4eb266fec44e4/assets/c3551ca3df7b45a9bd8f226c60509e60/revisions/4a9215554a094f0ba29855086f94bf66/renditions/77e2f51256c8f36e274f77bd88daec9c" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/4c70b6dd28814e0e8055d7c2e167b4a0/assets/3baef4caf21e4c75b4b3ad09569c1869/revisions/4d2bbe84cf134ca4bd5ee6c99d9195c4/renditions/315722d21b0fef2748587ba661fc8b92" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
        </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/d912da19002e409b93a0487cbd6884e0/assets/8c53e89a7bed45a7a855d3058b95736d/revisions/f5cc052d6f3c42ecabad5231ea01d1f7/renditions/89f173fbbc0973c668fed786c2e662c9" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/88bac2181053424e9bc4d8975c453d93/assets/a54727fb76fc49719dbc59dc319723fd/revisions/f2e5ad117a934577b2e31d10089d69f5/renditions/df4f9f7ca62d10e1cdcbe2c9028fc38f" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/0d61762498494f2f838fd2f017b48c21/assets/12ba1125a6b945718ab8ce525aed553e/revisions/f0d36ab97d19469eabaec034604478e7/renditions/4ea6450c24f5fa6ecc1be446369bb9af" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/b8e468876a394c60a6d9e6ed3fee60d8/assets/bedf49b1e1d848b3a8b1e01474e6d1ed/revisions/7733d56d724440ca8d05603c2f35dd9e/renditions/b53ce81a8737b44b010f60ec0dbb67e0" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/2da1bf07bfb84ffab1bc0af830886bfa/assets/e8d2c5ab194d4e05a02d81fc5faa545c/revisions/eaf11cbf8c5840bfa8a9f6c71f7a7d20/renditions/5fa8b96611f488b1d972a7aa1cd2b481" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/a6d84ce1fc814e14840e889726269689/assets/0d0e0acf61a747b4b01c6cf0c0b7029c/revisions/c62e00c1700b4ea8885f55251db4228c/renditions/9a8db42c4165b3fb6e1379cb8af34cb2" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/d9e6168e70784e93934b06d99c3c9fe9/assets/4398ccefa915449caf214f7e63fc3f92/revisions/0913b2b2133f488e9663cfa879a4c687/renditions/54a66a4d2b14ac85983b09990d01a5b1" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/26b74a2b00e44011abd4155f6c038f0c/assets/149892ad3ed349cbb71c27b546b439ba/revisions/ece24267cac749dd923a2e93e23b9f8f/renditions/b2a6af826667e085aadddb46115fea81" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/bc4a7efb4aff4b13aa4d6b9d98655b16/assets/d687dad446c24d4e8d9abee801fa6a9a/revisions/c623c8fedae84c8186d48a6119a1135c/renditions/deba0080e8623d62e277a22974edc90b" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/a6921343563c456db8e4eb266fec44e4/assets/c3551ca3df7b45a9bd8f226c60509e60/revisions/4a9215554a094f0ba29855086f94bf66/renditions/77e2f51256c8f36e274f77bd88daec9c" class="img-fluid picture mx-auto border border-5 border-white">
            </div>
            <div class="col-lg-12">
                <img src="https://lightroom.adobe.com/v2c/spaces/4c70b6dd28814e0e8055d7c2e167b4a0/assets/3baef4caf21e4c75b4b3ad09569c1869/revisions/4d2bbe84cf134ca4bd5ee6c99d9195c4/renditions/315722d21b0fef2748587ba661fc8b92" class="img-fluid picture mx-auto border border-5 border-white">
            </div>

    </div>


{% endblock %}