{% extends 'base.html' %}
{% block title %} Blog {% endblock %}

{% block content %}
<!--    {% for post in all_posts %}-->
<!--    <section class="container-fluid row">-->
<!--        <div class="col-lg-12 offset-lg-3">-->
<!--          <a href="{{ url_for('show_post', post_url=post.post_url) }}">-->
<!--            <h2 class="post-title">-->
<!--              {{post.title}}-->
<!--            </h2>-->
<!--          </a>-->
<!--          <p class="post-meta">Posted by-->
<!--            <a href="#">{{post.author}}</a>-->
<!--            on {{post.date}}-->
<!--          </p>-->
<!--           {% if session.get('logged_in'): %}-->
<!--            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--        <hr>-->
<!--        {% endfor %}-->
<!--    </section>-->

    <section class="container-fluid row">
        <div>

        </div>
        <div class="col-lg-12 offset-lg-3">
            <h2 class="display-heading">
                Writing on Medium
            </h2>
            <a href="https://medium.com/@sam-hodgson/can-data-science-write-better-laws-d9575c931663" class="post-title">Can data science write better laws</a>
            <a href="https://medium.com/@sam-hodgson/what-if-we-had-enough-4915261190c1" class="post-title">What if we had enough</a>
            <a href="https://medium.com/@sam-hodgson/will-disclosing-carbon-intensive-clients-change-advertising-agencies-f1fc55c08b02" class="post-title">Will disclosing carbon intensive clients change advertising agencies</a>

        </div>
    </section>



{% endblock %}